.App {
  text-align: center;
}

path {
  stroke: #000;
  stroke-width: 0.25px;
}

.state {
  fill: white;
}

#year-slider {
  width: 600px;
}

datalist {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 620px;
}