@import url('https://fonts.googleapis.com/css?family=Oxygen');

.App {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: white;
}

.header {
  height: 180px;
}

.header h1 {
  margin-top: 0;
  padding-top: 1em;
  font-size: 2em;
  letter-spacing: 3px;
}

.header p {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.2em;
}

.map-section, .footer-section {
  background-color: #eee;
  color: black;
  padding: 10px 0 50px;
  margin: 0 auto;
}

.map-area {
  display: grid;
  grid-template-columns: 10% 200px auto 200px 10%;
  grid-template-rows: 5% auto 5%;
  justify-content: center; 
}

.country-map {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

path {
  stroke: #000;
  stroke-width: 0.25px;
}

.state-hover {
  stroke-opacity: 0.9;
  stroke-width: 1;
}

.state-selected {
  stroke-opacity: 0.7;
  stroke-width: 2;
}

#year-slider {
  width: 600px;
}

datalist {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 620px;
}

.color-scale-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  width: 100%; 
}

.color-scale {
  margin: 0 auto;
  height: 200px;
  width: 20px;
  background: linear-gradient(blue, #FFFDE9, red)
}

.color-scale ul {
  list-style: none;
  display: flex;
  height: 100%;
  margin-top: 0;
  padding-left: 0;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.data-area {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

.data-area ul {
  list-style: none;
  padding-left: 0;
}

.data-area li {
  padding: 5px 0;
  text-justify: inter-word;
}

.state-data-area {
  margin-top: 100px;
}

.education-section {
  background-color: #ca0100;
  padding: 30px 0 40px;
}

.education-section h2 {
  letter-spacing: 2.5px;
  margin: 0 auto;
}

.education-section p {
  margin: 30px auto 0;
  max-width: 700px;
  line-height: 1.5em;
  font-size: 1.1em;
  text-align: start;
}

.footer-section p {
  margin: 50px auto 0;
}

.aboutme {
  max-width: 600px;
  font-size: 1em;
  line-height: 1.4em;
}